# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# User settings
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# SwiftPM
.swiftpm/
.build/

# macOS
.DS_Store

# Logs
*.log

# Playgrounds
timeline.xctimeline
playground.xcworkspace
