<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>&quot;L’app doit accéder à votre photothèque pour afficher les photos capturées.&quot;</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>&quot;Cette app a besoin d’accéder à votre photothèque pour enregistrer les photos.&quot;</string>
	<key>NSCameraUsageDescription</key>
	<string>&quot;L&apos;application utilise la caméra pour afficher la scène.&quot;</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundle version string (short)</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
</dict>
</plist>
